Argo Workflow Editor
<ul>
    <li>
        <strong>0.0.3</strong>
        <ul>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/12">!12</a> -
                Postfix the snapshot releases with the git hash
            </li>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/11">!11</a> -
                Fix a ClassCastException
            </li>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/13">!12</a> -
                Support the newer IntelliJ platforms
            </li>
        </ul>
        <strong>0.0.2</strong>
        <ul>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/10">!10</a> -
                Basic support for the CronWorkflows
            </li>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/9">!9</a> -
                Verification that the `dagTask.dependencies` references an existing dag task
            </li>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/8">!8</a> -
                Provide autocompletion for the `dagTask.dependencies` fields
            </li>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/6">!6</a> -
                Missing parameter annotator enhanced
            </li>
            <li><a href="https://gitlab.com/vilmosnagy/argo-intellij-plugin/-/merge_requests/4">!4</a> -
                Autocompletion for the `arguments.parameters.name` fields
            </li>
        </ul>
        <strong>0.0.1</strong>
        <ul>
            <li>Initial release of the plugin</li>
        </ul>
    </li>
</ul>
